html,
body {
    height: 100%;   /* Make sure parent covers full viewport height */
    margin: 0;      /* Remove any default margins */
}

body {
    background-image: url("../img/town.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top; -- OLD CODE */
    background-attachment: fixed;       /* So that you cant scroll past the background image */
    background-position: center center; /* Centre the background image */
}

.background-overlay {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    padding: 2rem 1rem 0 1rem;
    border-radius: 0.5rem

}

.content-container {
    min-height: 100vh; /* ensure 100% of viewport height */
    position: relative;
    z-index: 2; /* Ensures content is above the overlay */
    color: white; /* White text color for better readability */
}

.footer-content {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem 2rem 0 2rem;
    color: white; /* Ensure text visability */
    border-radius: 0.5rem;

}

.hidden {
    display: none;
}

#login-form input,
#signup-form input {
    margin-bottom: 20px;
}

a.link-mute {
    color: inherit; /* Inherit the colour from the parent element (non-hypertext colouring) */
    text-decoration: none;
}

.bg-wood {
    background-image: url("../img/bg-woodplank-scaled.png");
    background-repeat: repeat;
    border-width: 10px;
    border-radius: 5px;
    border-color: #2e1e0b;
    border-style: solid;
}

.bg-wood-nav {
    background-color: #2e1e0b;
}

/* .bg-village {
    background-image: url("../img/bg-village.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
} */

.navbar-svg-icon {
    width: 42px;
    margin-left: 6px;
    fill: white;
}

.form-container {
    background-image: url("../img/bg-woodplank-scaled.png");
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
    border-width: 10px;
    border-color: #421c00;
    border-style: solid;
    */
    border-image-slice: 60 60 60 60;
    border-image-width: 10px 10px 10px 10px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("../img/border-image.png");
}

.account-link {
    display: block;
}

/* Toast */
#toast-container {
    /* Position the toast container bottom right of page */
    position: fixed;
    min-height: 200px;
    bottom: 0;
    right: 0;
    z-index: 1050;
}

.toast {
    min-width: 200px;
    align-items: center;
    text-align: center;
}