html,
body {
    height: 100%;   /* Make sure parent covers full viewport height */
    margin: 0;      /* Remove any default margins */
}

body {
    background-image: url("../img/bg-village.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hidden {
    display: none;
}

#login-form input {
    margin-bottom: 20px;
}

a.link-mute {
    color: inherit; /* Inherit the colour from the parent element (non-hypertext colouring) */
    text-decoration: none;
}

.bg-wood {
    background-image: url("../img/bg-woodplank-scaled.png");
    background-repeat: repeat;
}

.bg-wood-nav {
    background-color: #2e1e0b;
}

/* .bg-village {
    background-image: url("../img/bg-village.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
} */

.navbar-svg-icon {
    width: 42px;
    margin-left: 6px;
    fill: white;
}

#log-in-form {
    background-image: url("../img/bg-woodplank.png");
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-link {
    display: block;
}