.bg-wood {
    background-image: url("bg-woodplank-scaled.png");
    background-repeat: repeat;
}

.bg-wood-nav {
    background-color: #2e1e0b;
}

.bg-village {
    background-image: url("bg-village.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#log-in-form {
    background-image: url("bg-woodplank.png");
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-link {
    display: block;
}