{% extends "base.html" %}
{% block title %}Questers Cache{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="leaderboard" class="mt-4">
        <h2 class="text-center">Leaderboard</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>User</th>
              <th>Quests Complete</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.quests_complete }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
