{% extends "base.html" %}
{% block title %}Questers Cache{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="leaderboard" class="mt-4">
        <h2 class="text-center">Leaderboard</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>User</th>
              <th>Quests Complete</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ (current_page - 1) * page_size + loop.index }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.quests_complete }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination mt-4 d-flex justify-content-between align-items-center">
          {% if start_index > 0 %}
            <a href="?page={{ prev_page }}" class="btn btn-custom-gray  mr-2">Previous</a>
          {% endif %}
          <span>Page {{ current_page }} of {{ total_pages }}</span>
          {% if end_index < total_users %}
            <a href="?page={{ next_page }}" class="btn btn-custom-gray ">Next</a>
          {% endif %}
          <form class="form-inline" action="" method="GET">
            <div class="form-group mx-2">
              <input type="number" id="pageInput" name="page" class="form-control" min="1" max="{{ total_pages }}" placeholder='pgNum'>
            </div>
            <button type="submit" class="btn btn-custom-gray">Go</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
