{% extends "base.html" %}
{% block title %}Questers Cache || Login/Signup{% endblock %}
{% block content %}

<div class="col-md-6 rounded form-container {{ 'hidden' if is_signup }}" id="login-form-container">
  <fieldset class="d-flex flex-column align-items-center justify-content-center col-md-6 offset-md-3">
    <legend class="text-center">
      <h1><span class="toggle-login">Sign-up</span> | <span class="other-toggle active">Login</span></h1>
    </legend>
    <form method='POST' id='login-form' action='/login' class="w-100 text-center">
      {{ login_form.hidden_tag() }}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <div class="mb-3">
        {{ login_form.login.label }}
        {{ login_form.login() }}
      </div>
      <div class="mb-3">
        {{ login_form.password.label }}
        {{ login_form.password() }}
      </div>
      <div class="mb-3 d-flex justify-content-center">
        {{ login_form.remember_me() }} {{ login_form.remember_me.label }}
      </div>
      <div class="d-flex justify-content-center">
        {{ login_form.submit() }}
      </div>
      {% if not is_signup %}
      {% for error in login_form.login.errors %}
      <div class="form-error alert alert-danger">{{ error }}</div>
      {% endfor %}
      {% endif %}
    </form>
  </fieldset>
</div>

<div class="col-md-5 rounded form-container {{ 'hidden' if not is_signup }}" id="signup-form-container">
  <fieldset class="d-flex flex-column align-items-center justify-content-center col-md-6 offset-md-3">
    <legend class="text-center">
      <h1><span class="other-toggle active">Sign-up</span> | <span class="toggle-login">Login</span></h1>
    </legend>
    <form method='POST' id='signup-form' action='/signup' class="w-100 text-center">
      {{ signup_form.hidden_tag() }}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <div class="mb-3 text-center">
        {{ signup_form.username.label }}
        {{ signup_form.username() }}
        {% if is_signup %}
        {% for error in signup_form.username.errors %}
          <div class="form-error alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3 text-center">
        {{ signup_form.email.label }}
        {{ signup_form.email() }}
        {% if is_signup %}
        {% for error in signup_form.email.errors %}
          <div class="form-error alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3 text-center">
        {{ signup_form.password.label }}
        {{ signup_form.password() }}
        {% if is_signup %}
        {% for error in signup_form.password.errors %}
          <div class="form-error alert alert-danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="d-flex justify-content-center">
        {{ signup_form.submit() }}
      </div>
    </form>
  </fieldset>
</div>

{% endblock %}