{% extends "base.html" %}
{% block title %}Quester's Cache || Home{% endblock %}
{% block content %}

<div class="container-fluid mt-5">
  <div class="container">
    <!-- Floating Sidebar Controls -->
    <div class="control-panel row background-overlay">
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h4>Post created on: {{ creation_date }}</h4>
        {% if post.claimed%}
        <h4>Post claimed by: {{ post.claimer.username }}</h4>
        <h4>Date claimed: {{ claim_date }}</h4>
        {% if post.private %}
        <h4><em>Post is <b>Private</b></em></h4>
        {% endif %}
        {% else %}
        <h4>Post claimed by: No-one<h4>
        {% endif %}
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <!-- Assortment of buttons according to user type -->
        {% if not post.completed %}
        {% if not post.claimed and current_user.userID != post.posterID %}
        <button class="btn btn-primary mb-2" id="claim-request" data-url="{{ url_for('claim_request', post_id=post.postID) }}">Claim ReQuest</button>

        {% elif post.claimed and current_user.userID == post.claimerID %}
          {% if not post.waitingApproval %}
          <button class="btn btn-success mb-2" id="finalise-request" data-url="{{ url_for('finalise_request', post_id=post.postID) }}">Finalise ReQuest</button>
          {% endif %}
          <button class="btn btn-danger mb-2" id="relinquish-claim" data-url="{{ url_for('relinquish_claim', post_id=post.postID) }}">Relinquish Claim</button>

        {% elif current_user.userID == post.posterID %}
          {% if post.waitingApproval %}
          <button class="btn btn-success mb-2" id="approve-submission" data-url="{{ url_for('approve_submission', post_id=post.postID) }}">Approve Submission</button>
          <button class="btn btn-danger mb-3" id="deny-submission" data-url="{{ url_for('deny_submission', post_id=post.postID) }}">Deny Submission</button>
          {% endif %}
          {% if not post.private %}
          <button class="btn btn-info mb-2" id="private-request" data-url="{{ url_for('private_request', post_id=post.postID) }}">Private ReQuest</button>
          {% else %}
          <button class="btn btn-info mb-2" id="unprivate-request" data-url="{{ url_for('private_request', post_id=post.postID) }}">Unprivate ReQuest</button>
          {% endif %}
        <button class="btn btn-warning mb-2" id="cancel-request" data-url="{{ url_for('cancel_request', post_id=post.postID) }}">Cancel ReQuest</button>
        {% endif %}

        {% else %} <!-- If the ReQuest is completed -->
        <h4><b>Post completed by: {{post.claimer.username}}</b></h4>
        {% endif %}
      </div>
    </div>

    <!-- Main Content -->
    <div class="mt-3 row bg-wood-large">
      <div class="container rounded post-item quest-card" id="post-header">
        <h2 class="text-center p-0 m-0 fw-bold">{{ post.poster.username }}'s ReQuest</h2>
        <div class="d-flex justify-content-between">
          <h3 class="text-wrap">{{ post.title }}</h3>
          <span class="align-self-center badge bg-secondary">{{ post.reward }} Gold</span>
        </div>
        <p class="text-wrap">{{ post.description }}</p>
      </div>

      {% for response in post.responses %}
      <div class="container rounded post-item quest-card mt-3">
        {% if response.responderID == post.posterID %}
        <h2 class="text-left p-0 m-0">{{ response.responder.username }}</h2>
        {% else %}
        <h2 class="text-right p-0 m-0">{{ response.responder.username }}</h2>
        {% endif %}
        <p class="text-wrap">{{ response.msg }}</p>
      </div>
      {% endfor %}

      <!-- Form to add response -->
      {% if not post.completed and ((current_user.userID == post.claimerID) or (current_user.userID == post.posterID)) %}
      <div class="container rounded post-item quest-card mt-5">
        <form method="POST" action="{{ url_for('quest_view', postID=post.postID) }}">
          {{ response_form.hidden_tag() }}
          <div class="form-group">
            {{ response_form.response.label }}
            {{ response_form.response }}
          </div>
          <div class="form-group d-flex justify-content-center mb-0">
            {{ response_form.submit }}
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}