{% extends "base.html" %}
{% block title %}Quester's Cache || Search ReQuests{% endblock %}
{% block content %}

<div class="container">
  <section class="row justify-content-center">
    <div class="col-sm-6 border p-4 rounded" id="search-form">
      <fieldset>
        <h2 class="text-center">Search</h2>
        <form method="post" action="">
          {{ searching_form.hidden_tag() }}
          <div class="form-group">
              {{ searching_form.post_search_name.label }}
              {{ searching_form.post_search_name() }}
          </div>
          <div class="d-flex justify-content-between">
            {{ searching_form.submit() }}
            {{ searching_form.show_all() }}
          </div>
        </form>
      </fieldset>
    </div>
  </section>

  <section class="row justify-content-center mt-4">
    <div class="col-sm-10">
      <div class="border p-4 rounded text-center text-wrap" id="list-of-posts">
        <h1>{{ title }}</h1>
        {% for post in posts %}
          {% if not post.private or (current_user.userID == post.posterID or current_user.userID == post.claimerID) or current_user.isAdmin %}
          {% if not post.deleted or current_user.isAdmin %}
          <div class="border p-4 rounded bg-success my-4">
            <div class="d-flex justify-content-between align-items-center">
              <div class="flex-grow-1">
                <h3 class="text-wrap text-center underline">{{ post.title }}</h3>
              </div>
            </div>
            <p>{{ post.description }}</p>
            <p>Reward: {{ post.reward }}G</p>
            <a href="{{ url_for('quest_view', postID=post.postID) }}" class="btn btn-primary">Check Out ReQuest!</a>
            {% if post.private %}
            <span class="align-self-center badge bg-secondary">Private</span>
            {% endif %}
          </div>
          {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% endblock %}  