{% extends "base.html" %}
{% block uniqueStyles %}{% endblock %}
{% block title %}Quester's Cache || New ReQuest{% endblock %}
{% block content %}

<div class="col-sm-6 border p-4 rounded" id="search-form">
  <fieldset>
    <h2 class="text-center">Search</h2>
    <form method="POST" action="">
      {{ searching_form.hidden_tag() }}
      <div class="col-sm-12">
          {{ searching_form.post_search_name.label }}
          {{ searching_form.post_search_name }}
      </div>
      <div class="d-flex justify-content-center flex-column offset-sm-5 col-sm-2">
        {{ searching_form.submit() }}
      </div>
      <div class="d-flex justify-content-center">
      </div>
    </form>
  </fieldset>
</div>

<div class="offset-sm-2 col-sm-8" id="list-of-posts">
  <h1 class="text-center">All Posts</h1>
  <h2>
      {% for post in posts %}
          <div class ="border p-4 rounded bg-success">
              <h2 class="underline">{{ post.title }}</h2>
              <p>{{ post.description }}</p>
              <p>Reward: {{ post.reward }}</p>
              <button class="btn btn-primary">Complete ReQuest!</button>
          </div>
      {% endfor %}
  </h2>
</div>

{% endblock %}  